<div class="container">
    <h1>PROJECTS</h1>
    <div class="container-proyectos">
        <div>
            <img src="../../../assets/Captura de Pantalla 2022-08-27 a la(s) 00.57.16.png" alt="">
            <p>
                Final project of "Argentina program" where all the tools given during the course had to be implemented.
                Portfolio front-end with HTML and CSS</p>
        </div>
        <div>
            <img src="../../../assets/Captura de Pantalla 2022-08-27 a la(s) 00.57.16.png" alt="">
            <p>
                It is addressed in the front-end, HTML, CSS, Javascript, the Angular framework is implemented. MySQL is used as relational 
                database. Java is applied as a back-end using the Netbeans IDE and also using the Spring Boot framework. culminating in 
                the final project that uses all the tools mentioned above.
            </p>
        </div>
    </div>
</div>