<div class="container">
    <div class="container-titulo">
        <h1>EDUCATION</h1>
    </div>
    <div class="container-container">
        <div class="container-1">
            <h2><strong>Web development in Argentina programa second stage</strong></h2>
            <h3>JANUARY 2022 - AUGUST 2022</h3>
            <p>
                Second stage of the intensive training of "Argentina programa" with a duration of seven months, 
                where topics such as introduction to programming, correct use of the IDE, time management, Git and Github, Node Js were addressed.
                It is addressed in the front-end, HTML, CSS, Javascript, the Angular framework is implemented.
                MySQL is used as relational database.
                Java is applied as a back-end using the Netbeans IDE and also using the Spring Boot framework. culminating in the final project 
                that uses all the tools mentioned above.
            </p>
        </div>
        <div class="container-2">
            <h2><strong>Web development in Argentina programa first stage</strong></h2>
            <h3>OCTOBER 2021 - DICEMBER 2021</h3>
            <p>
                First stage of the intensive training of "Argentina programa" with a duration of three months, where 
                Javascript and Ruby are addressed as programming languages, it had 300 exercises with their 
                respective explanation where as they were completed the difficulty was greater.
            </p>
        </div>
        <div class="container-3">
            <h2><strong>Nursing Technician, Venezuela</strong></h2>
            <h3>MARCH 2015 - JUNE 2018</h3>
            <p>
                Nursing Technician (dropped out in the fourth semester) professional training to join health teams in hospital, community 
                and home settings, to perform care tasks from a perspective that addresses all kinds of problems.
            </p>
        </div>
    </div>
</div>