.container{
    height: 100px;
    width: 100%;
    background: #2d4b82;
    justify-content: center;
    display: flex;
    gap: 20px;
    align-items: center;
}
img{
    height: 30px;
}
img:hover{
    filter: blur(1px);
    transform: scale(1.5);
}