<div class="container">
    <div class="foto-container">
        <img src="../../../assets/1653920627229.jpeg" alt="">
    </div>
    <div class="sobremi-container">
        <div class="container-2">
            <h2 class="fullstack">FULL STACK DEVELOPER JR</h2>
            <h1 class="about-me">ABOUT ME</h1>
            <h2 class="nombre">Jasbir Singh</h2>
            <div class="container-texto">
            <h3 class="texto"> Studied Nursing Technician, this helped me acquire soft skills such as communication, empathy, 
                attention to detail, interpersonal skills, quick response among others, but my passion arose with technology 
                and being able to solve problems by programming.
                
                I like to plan as well as look for solutions, I am patient and curious. I am flexible and I know how to adapt well to change.
                Self-taught every day, always looking to consolidate my knowledge.
            </h3>
        </div>
        </div>
    </div>
</div>