
#navegador{
    background: #2d4b82;
    padding: 0;
    justify-content: space-between;
    display: flex;
}
#navegador ul{
    list-style-type: none;
    text-align: center;
}
#navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
#navegador li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    text-decoration: none;
}
.div-log{
    display: flex;
    align-items: center;
}
.div-ap img{
    height: 60px;
}
.div-log img{
    height: 30px;
    
}
.div-log img:hover{
    filter: blur(1px);
    transform: scale(1.5);
}

