<div id="navegador">
    <div class="div-ap">
        <ul>
            <li><a id="ap-logo" href="#"><img src="../../../assets/APLogo-20-20.png" alt="LOGO"></a></li>
            <li><a id="ap-logo-inti" href="#"><img src="../../../assets/LogosInti.png" alt="LOGO"></a></li>
        </ul>
    </div>
    <div class="div-log">
        <ul>
            <li><a id="login" href="#"><img src="../../../assets/login.png" alt="LOGIN"></a></li>
            <li><a id="logout" href="#"><img src="../../../assets/logout.png" alt="LOGOUT"></a></li>
        </ul>
    </div>
</div>